@page {
    size: A4;
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    padding: 30px;
}

#form-container {
    
    width: 210mm;
    height: 297mm;

    background: white;
    margin: auto;
    padding: 25mm 20mm;

    box-sizing: border-box;
    border: 1px solid #000;
}

h1 {
    font-size: 1.2em;
    font-weight: normal;  
}

h2 {
    font-size: 1.0em;
    font-weight: normal;  
}
.center {
    text-align: center;
}

.underline {
    text-decoration: underline;
}

.spacer {
    height: 30px;
}

p {
    margin-top: 25px;
    line-height: 1.6;
}

input {
    border: none;
    border-bottom: 1px dotted #000;
    padding: 5px;
    font-size: 16px;
}

.line-input {
    width: 20%;
}

.line-input-head {
    width: 50%;
}

.line-input-signature {
    width: 100%;
    text-align: center;
}

.short {
    width: 80px;
    text-align: center;
    margin-right: 5px;
}

.date-line {
    font-size: 0.8em;
    margin-top: 10px;
}

.small {
    font-size: 12px;
    margin-top: 5px;    
}

.signature {
    font-family: 'Dancing Script', cursive;
    /*font-family: 'Pacifico', cursive; */
    font-size: 1em;
    height: 8mm;        /* IMPORTANT */
    padding-top: 4mm;   /* IMPORTANT */
    padding-bottom: 2mm;
        font-weight: normal;
    color: #0b2d6b;
}


.signature-block {
    margin-top: 25mm;

    width: 70mm;          /* typical signature width */
    margin-left: auto;   /* push block to the right */

    text-align: center;  /* center signature + label */
}


.buttons {
    margin-top: 40px;
    display: flex;
    gap: 10px;
}

button {
    padding: 10px 15px;
    cursor: pointer;
}

/* Hide buttons in PNG */
.hide-buttons .buttons {
    display: none;
}
